.form-control {
    background: transparent;
    border: 2px solid gray;
    outline: none;
    text-align: center;
    color: white;
}

.contact-form {
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}

form .message {
    width: 100%;
    height: 8rem;
}

form .submit {
    background-image: url(images/gradient_gray.jpg);
    color: white;
    width: 35%;
    height: 5rem;
    margin-left: 35%;
    margin-right: 35%;
}

form .submit {
    transition: transform .2s;
    margin: 0 auto;
  }
  
form .submit:hover {
    transform: scale(1.1);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important; 
    opacity: 1 !important; /* Firefox */
  }