.vertical-nav {
    min-width: 17rem;
    width: 17rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
    background:rgba(104, 104, 104, 0.2);
    z-index:1;
  }

  @media screen and (max-height: 720px){
  .vertical-nav {
    display: none;
  }

  #sidebartoggle {
    display: none;
  }

  #content {
    width: 100%;
    margin: 0;
  }
}

  #sidebar.active {
    margin-left: -17rem;
  }
  
  #content.active {
    width: 100%;
    margin: 0;
  }
  
  @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #content {
      width: 100%;
      margin: 0;
    }

    .vertical-nav {
      background:rgba(104, 104, 104, 0.9);
      height: 100vh;
    }

    #sidebarCollapse.active {
      width: calc(100% - 17rem);
      margin-left: 17rem;
      transition: all 0.4s;
    }

    #sidebarCollapse {
      width: 100%;
      margin: 0;
      transition: all 0.4s;
    }

  }    

#sidebartoggle {
position: fixed;
padding: 1rem;
z-index:1;
}

#sidebarCollapse {
    background-color: rgb(230, 230, 230);
    padding: 1rem;
}

.nav-link {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: 5rem;
    margin: auto;
    top: 50%;
    background: transparent;
}

.nav-item {
    background: transparent;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

#content.active {
  width: 100%;
  margin: 0;
}
